<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>FullName</th>
        <th>Title</th>
        <th>House</th>
        <th>Img</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of data">
        <td>{{ character.firstName }}</td>
        <td>{{ character.lastName }}</td>
        <td>{{ character.fullName }}</td>
        <td>{{ character.title }}</td>
        <td>{{ character.family }}</td>
        <td><img [src]="character.imageUrl" [alt]="character.fullName"></td>
      </tr>
    </tbody>
  </table>